.mocha {
  background-color: #4D351D;
}

.coffee {
  background-color: #8B6E46;
}

.espresso {
  background-color: #B99768;
}

.latte {
  background-color: #CCB697;
}

.flower {
  background-color: #E2CDB0;
}

.violent {
  background-color: #3A1203;
}

.oc_brown {
  background-color: #571B03;
}

.oc_orange {
  background-color: #8F2B04;
}

.oc_light_orange {
  background-color: #C06E21;
}

.oc_lighter_orange   {
  background-color: #E6AC49;
}